body {
  font: normal 15pt arial;
  text-align: center;
  color: white;
}

section {
  background: white;
  padding: 15px;
  width: 500px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.338);
}

div#msg {
  margin-bottom: 15px;
  color: black;
  font-weight: bold;
}


img#imagem {
  width: 350px;
  height: 300px;
  border-radius: 100%;
}

footer {
  font-style: italic;
  font-size: 18px;
}